<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"> 
<head>
     <title>Spring Security Example</title>   
</head>
<body>
   <h1>Welcome!</h1>
<!--自带登录页-->
   <p><a th:href="@{/login}">登录</a></p>
<!--自定义登录页-->
   <!--<p><a th:href="@{/toLogin}">登录</a></p>-->
   <p><a th:href="@{/user}">用户</a></p>
   <p><a th:href="@{/admin}">管理员</a></p>
   <p><a th:href="@{/logout}">退出</a></p>
</body>
</html>